body {
  font-family: verdana;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

#conversations {
  display: flex;
  justify-content: space-around;
}

.yours {
  font-weight: bold;
}

.online {
  background-color: cornSilk;
}
